# Frontend
frontend/node_modules/
frontend/build/

# Virtual environments
*/venv*/
*/.venv*/

# Editors
.vscode
.idea
*.log

# Python
*__pycache__
*.egg-info

# Environment variables
*.env

# Backend
backend/*/bin
backend/*/obj
