# Frontend
frontend/node_modules/
frontend/build/

# Editors
.vscode
.idea
*.log
*.vs

# Environment variables
*.env

# Backend
backend/*/bin
backend/*/obj
backend/api/Database/Maps/

#Broker
broker/mosquitto/config/certs/server-key.pem
*.DS_Store
