# Frontend
frontend/node_modules/
frontend/build/

# Editors
.vscode
.idea
*.log
*.vs
*.code-workspace

# Environment variables
*.env

# Backend
backend/*/bin
backend/*/obj
backend/api/Database/Maps/*
backend/backend.sln.DotSettings.user

#Broker
broker/mosquitto/config/certs/server-key.pem
*.DS_Store
