.tableWrapper {
    width: 100%;
    margin-top: 20px;
}

.tableCaption {
}

.tableHeadWrapper {
    display: block;
    width: 100%;
    table-layout: fixed;
    border-bottom: none !important;
}

.tableBodyWrapper {
    height: 100%;
    width: 100%;
    overflow-y: auto;
    display: block;
}

.tableRowWrapper {
    display: table;
    table-layout: fixed;
    width: 100%;
    cursor: pointer;
}

.tableCellWrapper {
    overflow-x: hidden;
}

.tableHeaderCell {
    z-index: 2;
    cursor: pointer;
    overflow-x: hidden;
}

.tableNameCell {
    width: 20%;
    overflow-x: hidden;
}

.tableRobotCell {
    width: 20%;
    overflow-x: hidden;
}

.tableStatusCell {
    width: 20%;
    overflow-x: hidden;
}

.tableStatusColorBar {
    width: 80%;
}

.tableTaskCell {
    width: 20%;
    overflow-x: hidden;
}

.tablePlayButtonCell {
    width: 20%;
    overflow-x: hidden;
}

.activeTableHeaderCell {
    background-color: var(--equiGray4) !important;
    color: var(--asBuilt) !important;
    border-bottom: 2px solid var(--asBuilt) !important;
    overflow-x: hidden;
}

.label {
    margin-right: 24px;
}

.active {
    background-color: #c1e7c1;
    border-radius: 8px;
    width: inherit;
    justify-content: center;
}

.paused {
    background-color: #dee5e7;
    border-radius: 8px;
    width: inherit;
    justify-content: center;
}

.completed {
    background-color: #c1e7c1;
    border-radius: 8px;
    width: inherit;
    justify-content: center;
}

.aborted {
    background-color: #dee5e7;
    border-radius: 8px;
    width: inherit;
    justify-content: center;
}

.error {
    background-color: #ff949b;
    border-radius: 8px;
    width: inherit;
    justify-content: center;
}
