name: Backend

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

defaults:
  run:
    working-directory: backend

jobs:
  build_backend:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up .NET
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: "6.0.x"
      - name: Build project and dependencies
        run: dotnet build

  test_backend:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2.1.0

      - name: Set up .NET
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: "6.0.x"

      - name: Build project and dependencies
        run: dotnet build -warnaserror

      - name: Run tests
        run: dotnet test

  check_formatting:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Setup .NET Core
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: "6.0.x"

      # Dotnet format is included in the .NET6 SDK
      # By default, the task ensures the exit code is 0
      # If a file needs to be edited by dotnet format, the exit code will be a non-zero value
      # We are using severity level 'info' here.
      - name: Run dotnet format
        run: dotnet format --severity info --verbosity diagnostic --verify-no-changes --exclude ./api/migrations

      - name: Run csharpier format
        run: |
          dotnet tool restore
          dotnet csharpier --check
