name: Run integration tests

on:
  push:
    branches: [ main ]
  release:
    types: [ published ]
  workflow_dispatch:
    inputs:
      lane:
        description: "dev or latest"
        required: true
        default: latest

permissions:
  contents: read
  packages: read

jobs:
  run-integration-tests:
    uses: equinor/robotics/.github/workflows/run-integration-tests.yml@main
    with:
      # Pick lane automatically based on event, or honor manual input
      lane: ${{ github.event_name == 'pull_request' && 'dev'
            || github.event_name == 'push' && 'dev'
            || github.event_name == 'release' && 'latest'
            || github.event_name == 'workflow_dispatch' && inputs.lane
            || 'latest' }}

    secrets: inherit
